.b-img{
    object-fit: cover;
}
.b-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .b-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .b-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .b-description {
    font-size: 20px;
  }
  
 
@media only screen and (min-width: 688px) and (max-width: 992px){
    .b-caption {
      font-size: 20px;
    }
  
    .b-title {
      font-size: 28px;
    }
  
    .b-description {
      font-size: 18px;
    }
  }
  
  @media  only screen and (max-width: 688px) {
    .b-caption {
      font-size: 16px;
    }
  
    .b-title {
      font-size: 24px;
    }
  
    .b-description {
      font-size: 16px;
    }
  }